{% extends './base_bs.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}
<style>
    .no_decoration {
        text-decoration: none;            
    }
    .space_link {
        padding: 0 0.5rem 0 0.5rem;
    }
</style>
<main>
    <div class="container-fluid">
     <div class="row">
         <div class="col-md-6 d-flex justify-content-start align-items-center">
             <b>DevAgileAgility</b>
         </div>
         <div class="col-md-6 d-flex justify-content-end align-items-center my-1">
             <b class="">Home</b>
             &nbsp;&nbsp;
             <a href="{% url 'post_list' %}" class="no_decoration space_link">Blog</a>
             <a href="" class="no_decoration space_link">About Us</a>
             <a href="" class="no_decoration space_link">Contact Us</a>
             &nbsp;&nbsp;
             <a href="" class="btn btn-sm btn-primary">Login</a>
             &nbsp;&nbsp;
             <a href="" class="btn btn-sm btn-secondary">Register</a>
         </div>
     </div>
     
     <!-- Add Main Section CTA -->
     
    
 
     <section class="py-5 text-center container">
       <div class="row py-lg-5">
         <div class="col-lg-6 col-md-8 mx-auto">
           <h1 class="fw-light">Enterprise Software Developer</h1>
           <p class="lead text-body-secondary">
             Become an Enterprise Software Developer <br>
             for Agile organizations, by Learning <br>
             with Popular Languages &amp; Technologies <br>
             Django, Python, HTML, CSS, JS, MySQL
           </p>
           <p>
             <a href="#" class="btn btn-primary my-2">Invest in your Learning</a>
             <a href="#" class="btn btn-secondary my-2">Know more about the courses</a>
           </p>
         </div>
       </div>
     </section>
   
     <!-- Begin Details -->
     <div class="album py-5 bg-body-tertiary">
       <div class="container">
         
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           <!-- CARD -->
           <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/python1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn Python Basics and Experience with Python Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">14 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
           
            <!-- CARD -->
            <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/django1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn Django Basics and Experience with Django Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">14 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
           <!-- CARD -->
           <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/mysql1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn MYSQL Basics and Experience with MYSQL Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">2 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
 
            <!-- CARD -->
            <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/html1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn HTML Basics and Experience with HTML Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">4 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
 
            <!-- CARD -->
            <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/css1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn CSS Basics and Experience with CSS Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">4 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
 
            <!-- CARD -->
            <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/js1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn Javascript Basics and Experience with Javascript Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">10 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
            <!-- CARD -->
            <div class="col">            
             <div class="card shadow-sm">
               <img src="{% static 'images/ORM1.png' %}" alt="">
               <div class="card-body">
                 <p class="card-text">
                   Learn Object Relational Mapping and Experience with ORM Foundations Course
                 </p>
                 <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                     <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                   </div>
                   <small class="text-body-secondary">5 days</small>
                 </div>
               </div>
             </div>
           </div>
           <!-- END CARD -->
             <!-- CARD -->
             <div class="col">            
               <div class="card shadow-sm">
                 <img src="{% static 'images/Python_Fullstack1.png' %}" alt="">
                 <div class="card-body">
                   <p class="card-text">
                     Learn Full Stack Web Development and Experience with Full Stack Foundations Course
                   </p>
                   <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                       <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                       <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                     </div>
                     <small class="text-body-secondary">30 days</small>
                   </div>
                 </div>
               </div>
             </div>
             <!-- END CARD -->
 
             <!-- CARD -->
             <div class="col">            
               <div class="card shadow-sm">
                 <img src="{% static 'images/tfd1.png' %}" alt="">
                 <div class="card-body">
                   <p class="card-text">
                     Learn Test First Development and Experience with Python-TFD Foundations Course
                   </p>
                   <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                       <button type="button" class="btn btn-sm btn-outline-secondary">Learn</button>
                       <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                     </div>
                     <small class="text-body-secondary">15 days</small>
                   </div>
                 </div>
               </div>
             </div>
             <!-- END CARD -->
         </div>
       </div>
       <!-- End Details -->
 
    </div>
    </main>
{% endblock %}